<div class="row">
    <div class="col-xs-6">
        <h1>Logged Bugs</h1>
    </div>
    <div class="col-xs-6 text-xs-right">
        <button class="btn btn-success btn-lg" [attr.data-target]=" '#' + bugDetail.modalId" data-toggle="modal" (click)="bugDetail.refreshForm()"><i class="fa fa-plus" aria-hidden="true"></i>Add Bug</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Severity</th>
                    <th>Description</th>
                    <th>Logged By</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bug of bugs" [attr.data-target]=" '#' + bugDetail.modalId" data-toggle="modal" (click)="bugDetail.configureForm(bug)">
                    <td>{{ bug.title }}</td>
                    <td>{{ bug.status | status }}</td>
                    <td>{{ bug.severity | severity }}</td>
                    <td>{{ bug.description }}</td>
                    <td>{{ bug.createdBy }}</td>
                    <td>{{ bug.createdDate | date  }}</td>
                    <td>challenge</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<bug-detail #bugDetail></bug-detail>